.img__container {
    display: flex;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
}
.img__container img {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }